* {
    box-sizing: border-box;
}
body{
    margin:0;
    padding: 0;
    background-color: #fff;
}
canvas{
    display: block;
    margin:0 auto;
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color:  rgb(51, 50, 65);
} 
body.full {
  background-color:  rgb(51, 50, 65);
}
